

<%- include('header'); -%>

<p>This a To-do list APP that lets you add tasks as per today's date, You can enter the task first in the text box that says Enter Item then click on the plus symbol to add today's task, Once Completed you can click on check box to cancel out the task.
    Made with Backend Technologies such As NODE-JS, EXPRESS, and EJS, And styling with CSS3</p>
<%- include('footer'); -%>
